<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Login</title>
</head>

<%- include('partials/_header.ejs') %>

  <body>
    <div>

      <form class="form-control" action="/login" method="POST">
        <div class="form-group mb-2">
          <input class="form-control" type="text" name="email" placeholder="jdoe@microsoft.com"
            style="width: 300px; margin: 1em" required>
          <input class="form-control" type="password" name="password" placeholder="password must be alphanumeric"
            style="width: 300px; margin: 1em" required>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
      <!--
  <form class="form-inline" action="/logout" method="POST">
    <button type="submit" class="btn btn-primary" style="margin: 1em">Logout</button>
  </form> -->
    </div>
  
    <%- include('partials/_footer.ejs') %>